= render :partial => "shared/cms_header", :locals => { :name => "Content Management" }

%nav#cms-nav
  %ul#cms-menu
    %li.cms-menu-item= link_to 'About Pages', "/about_pages"
    %li.cms-menu-item= link_to 'Agendas', "/agendas/"
    %li.cms-menu-item= link_to 'Articles', "/articles/"
    %li.cms-menu-item= link_to 'Blogs', "/blogs/"
    %li.cms-menu-item= link_to 'Front Pages', "/front_pages/"
    %li.cms-menu-item= link_to 'Posts', "/posts/"
    %li.cms-menu-item= link_to 'Users', "/users/"