%header#agenda-header
  %hgroup#agenda-title-wrapper
    %h3#agenda-kicker.kicker The Agenda
    %h1#agenda-title= agenda.title

#agenda-content
  .pitch-wrapper
    = raw agenda.pitch
  %ul#agenda-list

    %li.agenda-article#national-feature-li
      %h3 National Feature
      - agenda.articles.each do |article|
        = render :partial => "shared/original_article_or_post", :locals => { :article_or_post => article } if article.kind == "National Feature"
          
    %li.agenda-article#campus-feature-li
      %h3 Campus Features
      - agenda.articles.each do |article|
        = render :partial => "shared/original_article_or_post", :locals => { :article_or_post => article } if article.kind == "Campus Feature"
        
    %li.agenda-article#columns-li
      %h3 Columns
      - agenda.blogs.each do |blog|
        = render :partial => "blogs/column", :locals => { :blog => blog }
          
    %li.agenda-article#editorial-li
      %h3 Editorials
      - agenda.articles.each do |article|
        = render :partial => "shared/original_article_or_post", :locals => { :article_or_post => article } if article.kind == "Editorial"
        
    %li.agenda-article#digest-li
      %h3 Digests
      - agenda.articles.each do |article|
        = render :partial => "shared/original_article_or_post", :locals => { :article_or_post => article } if article.kind == "Digest"
          
