= form_for @agenda do |f|
  -if @agenda.errors.any?
    #error_explanation
      %h2= "#{pluralize(@agenda.errors.count, "error")} prohibited this agenda from being saved:"
      %ul
        - @agenda.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr.text_field
      %th= f.label :title
      %td= f.text_field :title
    %tr.text_field
      %th= f.label :subtitle
      %td= f.text_field :subtitle
    %tr.check_box
      %th= f.label :current
      %td= f.check_box( 'current' )
    %tr.submit
      %th
      %td= f.submit 'Save'
