= form_for @post do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr.text_field
      %th= f.label :title
      %td= f.text_field :title
    %tr.select
      %th= f.label :blog
      %td= f.select( "blog_id", @blogs.map{ |a| [a.title, a.id] } )
    %tr.text_area
      %th= f.label :text
      %td= f.text_area :text
    %tr.submit
      %th
      %td= f.submit 'Save'