= form_for @about_page, :html => { :class => "cms-form", :id => "about-page-form" } do |f|
  -if @about_page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@about_page.errors.count, "error")} prohibited this about_page from being saved:"
      %ul
        - @about_page.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr.text_field
      %th= f.label :order
      %td= f.text_field :order
    %tr.text_field
      %th= f.label :title
      %td= f.text_field :title
    %tr.text_area
      %th= f.label :text
      %td= f.text_area :text
    %tr
      %th
      %td.submit= f.submit 'Save'
