%h1 Listing about_pages

%table
  %tr
    %th Order
    %th Title
    %th
    %th
    %th

  - @about_pages.each do |about_page|
    %tr
      %td= about_page.order
      %td= about_page.title
      %td= link_to 'Show', about_page
      %td= link_to 'Edit', edit_about_page_path(about_page)
      %td= link_to 'Destroy', about_page, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New About page', new_about_page_path
