%header.cms-header
  %hgroup.cms-title-wrapper
    %h1.cms-title Listing Front Pages
    
%table
  %tr
    %th Title
    %th Subtitle
    %th
    %th

  - @front_pages.each do |front_page|
    %tr
      %td= front_page.title
      %td= front_page.subtitle
      %td= link_to 'Edit', edit_front_page_path(front_page)
      %td= link_to 'Destroy', front_page, :confirm => 'Are you sure?', :method => :delete

%br

%nav.cms-link-menu-wrapper
  %ul.cms-link-menu-wrapper
    %li= link_to 'New Front page', new_front_page_path
